/* Couleur pour le PieChart */
.pie-chart .chart-pie-slice {
    -fx-pie-color: #8A2BE2;
}

/* Couleur pour les axes */
.x-axis .axis-line, .y-axis .axis-line {
    -fx-stroke: #8A2BE2;
}

.x-axis .tick-label, .y-axis .tick-label {
    -fx-fill: #8A2BE2;
}

/* Couleur pour la légende */
.chart-legend-item-symbol {
    -fx-background-color: #8A2BE2;
    -fx-background-radius: 0;
}

